.search_bar {
    background-color: $light-gray;
    width: 100%;
        form {
            margin-top: 0.1rem;
            padding: 1rem 0;
            display: flex;
            justify-content: center;
        }
        .icon-map {
            color: $dark-gray;
        }
        input {
            background: $light-gray;
            width: 39%;
            border: none;
            font-weight: bold;
            margin-left: 1rem;
            font-size: 1rem;
            text-overflow: ellipsis;
            &:focus {
                outline: none;
            }
            @media #{$desktop} {
                width: 10%;
            }
        }
        ::placeholder {
            color: $dark-gray;
        }
}