/* Color */
/* Font */
/* Media Size */
/* @mixin order-button */
body {
  font-family: "Roboto", sans-serif;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-size: 1.2rem;
}
footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}
footer .bold-font {
  font-weight: bold;
}

#title_explore h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}
#title_explore p {
  font-size: 1.1rem;
  font-weight: 400;
}

#using_app h2 {
  font-size: 1.3rem;
  font-weight: bolder;
}
#using_app button {
  font-weight: bold;
}

/* Gradient-background button*/
.explore-button {
  background: linear-gradient(2deg, #9356dc 1%, #ff79da 90%);
  border: none;
  border-radius: 1.7rem;
  font-size: 1rem;
  color: #ffffff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  padding: 1.1rem 1.6rem;
  margin: 2rem;
}

.order-button {
  background: linear-gradient(2deg, #9356dc 1%, #ff79da 90%);
  border: none;
  border-radius: 1.7rem;
  font-size: 1rem;
  color: #ffffff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem 3rem;
}

.using-button {
  border: none;
  padding: 1.2rem 2rem;
  margin: 0.8rem;
  border-radius: 1.1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.using-button:active {
  background-color: #e9dbfd;
}
.using-button:active i {
  color: #9356DC;
}

/* Logo */
.index-header {
  background-color: #ffffff;
  padding: 1.5rem 0 1rem 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.index-header .logo {
  display: block;
  margin: auto;
  width: 11rem;
}

/* Header other pages */
.header-with-icon {
  background-color: #ffffff;
  padding: 1.5rem 0 1rem 0;
  display: flex;
}
.header-with-icon .logo-link {
  margin: auto;
}
.header-with-icon .logo {
  width: 11rem;
}
.header-with-icon .go-back {
  position: absolute;
  margin-left: 2rem;
  margin-top: 0.2rem;
}
.header-with-icon .icon-back {
  font-size: 1.3rem;
  text-decoration: none;
  color: #313030;
}

#search_bar {
  background-color: #ebe8e8;
  width: 100%;
}
#search_bar form {
  margin-top: 0.1rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
#search_bar .icon-map {
  color: #313030;
}
#search_bar input {
  background: #ebe8e8;
  width: 39%;
  border: none;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1rem;
  text-overflow: ellipsis;
}
#search_bar input:focus {
  outline: none;
}
#search_bar ::placeholder {
  color: #313030;
}

footer {
  background-color: #313030;
  padding: 2rem;
}
footer ul {
  padding-top: 1.3rem;
}
footer i {
  color: #ffffff;
}
footer li {
  padding-top: 0.7rem;
}
footer .submit {
  margin-left: 0.8rem;
}
footer .partnership {
  margin-left: 0.4rem;
}

#title_explore {
  background-color: #fcf8f8;
  text-align: center;
  padding: 1rem 2rem;
}
#title_explore h1 {
  margin: 1rem;
}
#title_explore p {
  color: #313030;
}

#using_app {
  padding: 3rem 1rem;
}
#using_app #using-button-block {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
#using_app .using-icon {
  font-size: 1.1rem;
  padding-right: 1.5rem;
  color: #313030;
}
#using_app .icon-compose {
  padding-right: 1.5rem;
  color: #313030;
}
#using_app .icon-ellipsis {
  font-size: 0.8rem;
}

img {
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
