/* Gradient-background button*/
.explore-button {
    @include gradient-button;
    padding: 1.1rem 1.6rem;
    margin: 2rem;
    a {
        text-decoration: none;
        color: inherit;
    }
    @media #{$desktop} {
        width: 20%;
        margin: 2rem auto;
    }
    @media #{$tablet} {
        width: 35%;
        margin: 2.5rem auto;
    }
    @media #{$mobile_rotate} {
        width: 35%;
        margin: 2.5rem auto;
    }
    @media #{$tablet_rotate} {
        width: 35%;
        margin: 2.5rem auto;
    }
}

.order-button {
    @include gradient-button;
    padding: 1rem 3rem;
    border: none;
    @media #{$tablet} {
        width: 35%;
    }
    @media #{$tablet_rotate} {
        width: 35%;
        padding: 1.5rem 3rem;
        margin-top: 2rem;
    }
}

.using-button {
    background-color: $clear-gray;
    border: none;
    padding: 1.2rem 4rem 1.2rem 2rem;
    margin: 0.8rem;
    border-radius: 1.1rem;
    box-shadow: $box-shadow;
    @media #{$desktop} {
        margin: 1.5rem;
    }
    @media #{$tablet} {
        width: 50%;
    }
    .using-icon {
        font-size: 1.1rem;
        padding-right: 1.5rem;
        color: $gray-icon;
    }
    &:active {
        background-color: $soft-purple;
        .using-icon {
            color: $color-primary;
        }
    }
    @media #{$desktop} {
        &:hover {
            background-color: $soft-purple;
        .using-icon {
            color: $color-primary;
        }
        }
    }
}

.order-button {
    @include gradient-button;
    padding: 1rem 3rem;
}