/* Gradient-background button*/
.explore-button {
    @include gradient-button;
    padding: 1.1rem 1.6rem;
    margin: 2rem;
}

.order-button {
    @include gradient-button;
    padding: 1rem 3rem;
}

.using-button {
    border: none;
    padding: 1.2rem 2rem;
    margin: 0.8rem;
    border-radius: 1.1rem;
    box-shadow: $box-shadow;
    &:active {
        background-color: $soft-purple;
        i {
            color: $color-primary;
        }
    }
}