.heart-icon {
    &:active {
        animation:  heart-animation  50ms ease-out;
        transform: scale(0);
    }
} 

@keyframes animation-heart {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* heart-animation */

.invisible-element {
    margin: auto;
    transform-origin: bottom center;
    transition: transform 500ms ease-in-out;
    transform: scale(0);
    .heart-invisible {
        color: blueviolet;
        font-size: 1.6rem;
        margin-top: -0.1rem;
        @media #{$desktop} {
            margin-top: -0.1rem;
            font-size: 2rem;
        }
    
    }
}

.block:active + .invisible-element {
    transform: scale(1);
    display: block;
    
}

