body {
    font-family: $text-font;
}

footer {
    h2 {
        font-family: $title-logo-font;
        color: $white;
        font-size: 1.2rem;
    }
    a {
        color: $white;
        text-decoration: none;
        font-size: 1rem;
    }
    .bold-font {
        font-weight: bold;
        }
}

#title_explore {
    h1 {
        font-size: 1.5rem;
        font-weight: bolder;
    }
    p {
        font-size: 1.1rem;
        font-weight: 400;
    }
}

#using_app {
    h2 {
        font-size: 1.3rem;
        font-weight: bolder;
    }
    button {
        font-weight: bold;
    }
}

#figures-index {
    h2 {
        font-size: 1.3rem;
        font-weight: bolder;
    }
}