body {
    font-family: $text-font;
}

footer {
    h2 {
        font-family: $title-logo-font;
        color: $white;
        font-size: 1.2rem;
    }
    a {
        color: $white;
        text-decoration: none;
        font-size: 1rem;
    }
    .bold-font {
        font-weight: bold;
        }
}

.title_explore {
    h1 {
        font-size: 1.5rem;
        font-weight: bolder;
    }
    p {
        font-size: 1.1rem;
        font-weight: 400;
    }
}

.using_app {
    h2 {
        font-size: 1.3rem;
        font-weight: bolder;
        @media #{$desktop} {
            text-align: center;
            font: 1.5rem;
        }
    }
    button {
        font-weight: bold;
    }
}

.figures-index {
    h2 {
        font-size: 1.3rem;
        font-weight: bolder;
        @media #{$desktop} {
            text-align: center;
            font: 1.5rem;
        }
    }
    h3 {
        font-weight: bolder;
    }
    .new p {
        font-size: 0.8rem;
        font-weight: bold;
        color: $green;
    } 
}

.menu {
    h1 {
       font-family: $title-logo-font;
       font-size: 1.5rem; 
    }
    h2 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 400;
    }
    h3 {
        font-size: 1rem;
        font-weight: bold;
    }
    p {
        font-size: 0.9rem;
    }
    .price {
        font-weight: bold;
        color: $dark-gray;
        font-size: 0.9rem;
    }
}

.text-zone-mentions-legales {
    h1 {
        font-size: 1.3rem;
        font-weight: bolder;
    }
    p {
        font-size: 0.9rem;
    }
}