#title_explore {
    background-color: $clear-gray;
    text-align: center;
    padding: 1rem 2rem;
    h1 {
        margin: 1rem;
    }
    p {
        color: $dark-gray;
    }
}

#using_app {
    padding: 3rem 1rem;
    #using-button-block {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0.5rem;
    }
    #number-one-using-button {
        margin-top: 1.8rem;
        @include number-using-button;
    }
    #number-two-using-button {
        @include number-using-button;
        margin-top: 7rem;
    }
    #number-three-using-button {
        @include number-using-button;
        margin-top: 12rem;
    }

}

#figures-index {
    background-color: $clear-gray;
    padding: 3rem 1rem;
}