#title_explore {
    background-color: $clear-gray;
    text-align: center;
    padding: 1rem 2rem;
    h1 {
        margin: 1rem;
    }
    p {
        
        color: $dark-gray;
    }
}


#using_app {
    padding: 3rem 1rem;
    #using-button-block {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }
    .using-icon {
        font-size: 1.1rem;
        padding-right: 1.5rem;
        color: $dark-gray;
    }
    .icon-compose {
        padding-right: 1.5rem;
        color: $dark-gray;
    }
    .icon-ellipsis {
        font-size: 0.8rem;
    }

}