.text-zone-mentions-legales {
    margin-top: 0.1rem;
    background-color: $light-gray;
    padding: 2rem 1rem;
    h1 {
        margin-bottom: 1.5rem;
    }
    p {
        margin-bottom: 1rem;
    }
}