@mixin header {
    background-color: $white;
    padding: 1.5rem 0 1rem 0;
}

@mixin gradient-button {
    background: linear-gradient(2deg, rgba(147,86,220,1) 1%, rgba(255,121,218,1) 90%);
    border: none;
    border-radius: 1.7rem;
    font-size: 1rem;
    color: $white;
    box-shadow: $box-shadow;
}

