@mixin header {
    background-color: $white;
    padding: 1.5rem 0 1rem 0;
}

@mixin gradient-button {
    background: linear-gradient(2deg, rgba(147,86,220,1) 1%, rgba(255,121,218,1) 90%);
    border-radius: 1.7rem;
    font-size: 1rem;
    color: $white;
    box-shadow: $box-shadow;
}

@mixin number-using-button {
    position: absolute;
    background-color: $color-primary;
    width: 0.7rem;
    height: 0.7rem;
    color: $white;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 50%;
    padding: 0.4rem;
}

