/* Color */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$dark-gray: #313030;
$clear-gray: #fcf8f8;
$light-gray: #ebe8e8;
$black: #000000;
$white: #ffffff;

$box-shadow: 0 1px 9px rgb(0 0 0 / 0.4);

/* Font */

$title-logo-font: 'Shrikhand', cursive;
$text-font: 'Roboto', sans-serif;


/* Media Size */