/* Color */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$soft-purple: #e9dbfd;
$dark-gray: #313030;
$gray-icon: #818181;
$clear-gray: #fcf8f8;
$light-gray: #ebe8e8;
$black: #000000;
$white: #ffffff;
$green: #258b72;


$box-shadow: 0 1px 8px rgb(0 0 0 / 0.3);

/* Font */

$title-logo-font: 'Shrikhand', cursive;
$text-font: 'Roboto', sans-serif;


/* Media Size */